<%= form_for(@expansion) do |f| %>
  <% if @expansion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expansion.errors.count, "error") %> prohibited this expansion from being saved:</h2>

      <ul>
      <% @expansion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :set_code %><br>
    <%= f.text_field :set_code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :common_cards_num %><br>
    <%= f.text_field :common_cards_num %>
  </div>
  <div class="field">
    <%= f.label :uncommon_cards_num %><br>
    <%= f.text_field :uncommon_cards_num %>
  </div>
  <div class="field">
    <%= f.label :rare_cards_num %><br>
    <%= f.text_field :rare_cards_num %>
  </div>
  <div class="field">
    <%= f.label :mythic_cards_num %><br>
    <%= f.text_field :mythic_cards_num %>
  </div>
  <div class="field">
    <%= f.label :other_cards_num %><br>
    <%= f.text_field :other_cards_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
