<h1>Listing card_expansions</h1>

<table>
  <thead>
    <tr>
      <th>Set code</th>
      <th>Card name</th>
      <th>Rarity</th>
      <th>Card num</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @card_expansions.each do |card_expansion| %>
      <tr>
        <td><%= card_expansion.set_code %></td>
        <td><%= card_expansion.card_name %></td>
        <td><%= card_expansion.rarity %></td>
        <td><%= card_expansion.card_num %></td>
        <td><%= card_expansion.image %></td>
        <td><%= link_to 'Show', card_expansion %></td>
        <td><%= link_to 'Edit', edit_card_expansion_path(card_expansion) %></td>
        <td><%= link_to 'Destroy', card_expansion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card expansion', new_card_expansion_path %>
