<h1>Listing deck_cards</h1>

<table>
  <thead>
    <tr>
      <th>Card name</th>
      <th>Deck</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deck_cards.each do |deck_card| %>
      <tr>
        <td><%= deck_card.card_name %></td>
        <td><%= deck_card.deck_id %></td>
        <td><%= deck_card.quantity %></td>
        <td><%= link_to 'Show', deck_card %></td>
        <td><%= link_to 'Edit', edit_deck_card_path(deck_card) %></td>
        <td><%= link_to 'Destroy', deck_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deck card', new_deck_card_path %>
