<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cardname %><br>
    <%= f.text_field :cardname %>
  </div>
  <div class="field">
    <%= f.label :manacost %><br>
    <%= f.text_field :manacost %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label :toughness %><br>
    <%= f.text_field :toughness %>
  </div>
  <div class="field">
    <%= f.label :loyalty_counter %><br>
    <%= f.text_field :loyalty_counter %>
  </div>
  <div class="field">
    <%= f.label :card_type %><br>
    <%= f.text_field :card_type %>
  </div>
   <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <%= fields_for :card_expansions   do |fa| %>
  <%= fa.hidden_field :card_id, :value => @card.id %>
  <%= fa.hidden_field :expansion_id, :value => '1'%>
  <div class="field">
    <%= fa.label :rarity %><br>
    <%= fa.text_field :rarity %>
  </div>
  <div class="field">
    <%= fa.label :card_num %><br>
    <%= fa.text_field :card_num %>
  </div>
  <div class="field">
    <%= fa.label :image %><br>
    <%= fa.text_field :image %>
  </div>
  
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
